<html>

<head>
	<!-- Bootstrap -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/project.css" rel="stylesheet">
	<link href="/css/menubar.css" rel="stylesheet">
	<link href="/css/homepage.css" rel="stylesheet">

	<title> Edit Your Profile</title>
</head>
<body class = "cbp-spmenu-push">
	<div class = "topbar">
		<div class = "row">
			<div class = "col-xs-6 col-xs-4">

				<button type="button" class = "btn btn-default menuButton" id="showLeft">
					<span class="glyphicon glyphicon-th-list icon"></span>
				</button>

			</div>
			<div class = "col-xs-6 col-xs-4">
				<p class = "text-center balanceText">Edit Account</p>
			</div>
			<div class = "col-xs-6 col-xs-4">
				<button type="button" class="btn btn-default btn-lg searchButton" id="homeBtn" onclick=" window.location = 'homepage';">
					<span class="glyphicon glyphicon-home icon"></span>
				</button>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		
		<div id = "menubar">
			<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
				<a href="#">Books</a>
				<a href="#">Crafts</a>
				<a href="#">Electronics</a>
				<a href="#">Entertainment</a>
				<a href="#">Fashion</a>
				<a href="#">Home and Garden</a>
				<a href="#">Sports and Recreational Equipment</a>
				<a href="#">Other Goods</a>
				<a href="#">Services</a>
				<p></p>
				<a href="/notifications">Notifications</a>
				<a href="/sell">Sell Something</a>
				<a href="/editProfile">Edit Account</a>
				<a href="/logout">Logout</a>
			</nav>
		</div>
	<br>
		<form id="editEmailForm" role="form" method="get" action="/editProfile" >
			<div class="form-group">
				<p>Email: <input readonly id="accountEmail" placeholder="{{user.email}}" ></input>
					<input type ="submit" id="editEmailBtn" class="btn btn-default" value="Edit"></input></p>
			</div>
		</form>

		<form id="editPasswordForm" role="form" method="get" action="/editProfile" >
			<div class="form-group">
				<p>Password: <input readonly id="accountPassword" placeholder="{{user.password}}" ></input>
					<input type ="submit" id="editPasswordBtn" class="btn btn-default" value="Edit"></input></p>
			</div>
		</form>

		<hr>

		<form id="editAddressForm" role="form" method="get" action="/editProfile">
			<div class="form-group">
				<p>Street Address: <input readonly id="accountAddress" placeholder="{{user.address}}" ></input>
					<input type ="submit" id="editAddrBtn" class="btn btn-default" value="Edit"></input></p>
			</div>
		</form>

		<form id="editZipForm" role="form" method="get" action="/editProfile">
			<div class="form-group">
				<p>Zip Code: <input readonly id="accountZipCode" placeholder="{{user.zip}}"></input>
					<input type ="submit" id="editZipBtn" class="btn btn-default" value="Edit"></input></p>
			</div>
		</form>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.js"></script>
<script src="js/editProfileFields.js"></script>
<script src="js/menubar.js"></script>
</body>
</html>