<html>

<head>
	<!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<title> Edit Your Profile</title>
</head>
<body>
<h3><a href = "/homepage">Home</a></h3>
</body>
</html>