<!doctype html>

<html>
<head>
	<!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="toolbar">	
			<div class ="row">
				<div class="col-md-8"><a href="/editProfile"><p id ="userName">Alex</p></a></div>
				<form id="sellSomethingForm" role="form" method="get" action="/sell">
					<div class="col-md-4">
						<input type ="submit" id="sellSomethingButton" class="btn btn-default" value = "Sell Something"></input>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="col-md-8"></div>
				<div class="col-md-4"><p> Balance: 120</p></div>
			</div>

			
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Price <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">0-50</a></li>
									<li><a href="#">50-100</a></li>
									<li><a href="#">100+</a></li>
								</ul>
							</li>
						</ul>

						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Category <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">Books</a></li>
									<li><a href="#">Crafts</a></li>
									<li><a href="#">Electronics</a></li>
									<li><a href="#">Entertainment</a></li>
									<li><a href="#">Fashion</a></li>
									<li><a href="#">Home and Garden</a></li>
									<li><a href="#">Sports and Recreational Equipment</a></li>
									<li><a href="#">Other Goods</a></li>
									<li class="divider"></li>
									<li><a href="#">Services</a></li>
								</ul>
							</li>
						</ul>


						<form class="navbar-form navbar-left" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="item name">
							</div>
							<button type="submit" class="btn btn-default">Search</button>
						</form>

					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div>
		{{#each items}}
		<div class="item">
			<img src="{{image}}" class="img-thumbnail" width="500px">
			<p>{{description}}</p>
			<p>{{price}}</p>
<!-- 				<div id="sample">
					<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSGZ7t-u9hbz3yaO3yMnbrT3Ia2P9WCgXERxAi407WgJzituTpKrg" class="img-thumbnail" width = "500px">
					<p id="label"> Men's Red Shirt, Medium</p>
					<p> 20 </p>
					<button id="buyButton" class="btn btn-primary btn-lg">Buy</button>
				</div> -->
			<button id="buyButton" class="btn btn-primary btn-lg">Buy</button>
			</div>
			{{/each}}
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Include all compiled plugins (blelow), or include individual files as needed -->
		<script src="js/bootstrap.js"></script>
		<script src="routes/homepage.js"></script>
		<script src="js/buy.js"></script>

	</body>
	</html>