<html>
<head>
	<!-- Bootstrap -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/project.css" rel="stylesheet">
	<link href="/css/menubar.css" rel="stylesheet">
	<link href="/css/homepage.css" rel="stylesheet">
	<link href="/css/notifications.css" rel = "stylesheet">
	<meta name="viewport" content="initial-scale=1">

	<title> Sell an item!</title>
</head>
<body class = "cbp-spmenu-push">
	<div class = "topbar">
		<div class = "row">
			<div class = "col-xs-2">

				<button type="button" class = "btn btn-default menuButton" id="showLeft">
					<span class="glyphicon glyphicon-th-list icon"></span>
					<span class = "badge">{{numNotifications}}</span>
				</button>

			</div>
			<div class = "col-xs-8">
				<p class = "text-center titleText">Sell An Item</p>
			</div>
			<div class = "col-xs-2">
				<button type="button" class="btn btn-default searchButton" id="homeBtn" onclick=" window.location = 'homepage';">
					<span class="glyphicon glyphicon-home icon"></span>
				</button>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		
		<div id = "menubar" class="filters">
				<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
					<div class = "col-xs-6 col-xs-4 homeElement">
						<button type="button" class="btn btn-default homeButton" id="homeBtn" onclick=" window.location = 'homepage';">
							<span class="glyphicon glyphicon-home icon"></span>
						</button>
					</div>
					{{#unless alternative}}
					<p> Categories </p>
					<a href="/filteredPage/Books/true">Books</a>
					<a href="/filteredPage/Crafts">Crafts</a>
					<a href="/filteredPage/Electronics">Electronics</a>
					<a href="/filteredPage/Entertainment">Entertainment</a>
					<a href="/filteredPage/Fashion">Fashion</a>
					<a href="/filteredPage/Home and Garden">Home and Garden</a>
					<a href="/filteredPage/Sports and Recreational Equipment">Sports and Recreational Equipment</a>
					<a href="/filteredPage/Other Goods">Other Goods</a>
					<a href="/filteredPage/Services">Services</a>
					{{/unless}}
					<p> Account </p>
					<a href="/notifications">Notifications
						<span class = "badge badge-error pull-right menu-badge">{{numNotifications}}</span>
					</a>
					<a href="/sell">Sell Something</a>
					<a href="/editProfile">Edit Account</a>
					<a href="/logout">Logout</a>
				</nav>
			</div>
<div class="belowTopbar">
		<p id="instructions"></p>
		<form id="sellForm" role="form" method="post" action="/itemforsale" onsubmit="return sellItem()">
			<div class="form-group">
				<p> Item Title <input type = "text" id="title" class="form-control submissionField" placeholder="ex: Mens Jean Jacket, Medium" name="title"/></p>
			</div>
			<div class="form-group">
				<p> Extended Description <input type = "text" id="extendedDescription" class="form-control submissionField" placeholder="ex: This item is in new condiiton. It was orginally purcased from a local farmer's market for $25. " name="extendedDescription"/></p>
			</div>
			<div class="form-group">
				<select class="form-control" id="category" name="category">
					<option value="Books">Books</option>
					<option value="Crafts">Crafts</option>
					<option value="Electronics">Electronics</option>
					<option value="Entertainment">Entertainment</option>
					<option value="Fashion">Fashion</option>
					<option value="Home and Garden">Home and Garden</option>
					<option value="Sports and Recreational Equiptment">Sports and Recreational Equiptment</option>
					<option value="Other Goods">Other Goods</option>
					<option value="Services">Services</option>
				</select>
			</div>

			<div class="form-group">
				<p> Price <input type = "text" id="price" class="form-control submissionField" placeholder="ex: 20" name="price"/></p>
			</div>
			<div class="form-group">
				<p> Image URL <input type = "text" id="imageUrl" class="form-control submissionField" placeholder="ex: http://images.shirt.jpg" name="imageUrl"/></p>
			</div>
			
			<button type ="submit" id="sellBtn" class="btn btn-default"/>Put Item Up for Sale</button>
		</form> 
	</div>
</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="js/bootstrap.js"></script>
	<script src="js/sell.js"></script>
	<script src="js/menubar.js"></script>

	<!--Google analytics code-->
	
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48670832-1', 'ayorke-project.herokuapp.com/homepage');
  ga('send', 'pageview');

</script>
</body>
</html>