<html>
<head>
	<!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<title> Sell an item!</title>
</head>
<body>
	<div class="container">
	<h3><a href = "/login">Homepage</a></h3>
	<p id="instructions"></p>
	<form id="sellForm" role="form">
			<div class="form-group">
				<p> Item Title: <input type = "text" id="title" class="form-control" placeholder="Mens Jean Jacket, Medium"/></p>
			</div>
			<div class="form-group">
				<p> Price: <input type = "text" id="price" class="form-control" placeholder="20"/></p>
			</div>
			<div class="form-group">
				<p> Image URL: <input type = "text" id="imageUrl" class="form-control" placeholder="http://images.shirt.jpg"/></p>
			</div>
			<button type ="button" id="sellBtn" class="btn btn-default"/>Put Item Up for Sale</button>
		</form> 
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="js/bootstrap.js"></script>
	<script src="js/sell.js"></script>
</body>
</html>