.cbp-spmenu {
    /*background: #47a3da;*/
    /*background: #404040;*/
    background: #202020;
    position: fixed;
    overflow-y: auto; 
}


 
.cbp-spmenu h3 {
    color: #afdefa;
   font-size: 1.9em; /*font-size: 6.0em;*/
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
}
 
.cbp-spmenu a {
    display: block;
    /*color: #fff;*/
    color: #E0E0E0;
   font-size: 0.9em; /*font-size:6.0em;*/
    font-weight: 300;
    text-decoration: none;
}
 
.cbp-spmenu a:hover {
    /*background: #258ecd;*/
    background: #383838;
}
 
.cbp-spmenu a:active {
    background: #afdefa;
    /*color: #47a3da;*/
    color: #101010;
}
 
/* Orientation-dependent styles for the content of the menu */
 
.cbp-spmenu-vertical {
    /*width: 240px;*/
    /*width: 450px;*/ width: 85%;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.cbp-spmenu-vertical h3{

}
 
.cbp-spmenu-vertical a {
    border-bottom: 1px solid #101010;
    padding: .75em;
    font-size: 1.2em;
    padding-top: .75em;
}
 
 
/* Vertical menu that slides from the left or right */
 
.cbp-spmenu-left {
    /*left: -240px;*/
    /*left: -450px;*/ left: -85%;
}
 
 
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}
 
.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}
 
 
/* Push classes applied to the body */
 
.cbp-spmenu-push {
    /*overflow-x: hidden;*/
    position: relative;
    left: 0;
}
 
.cbp-spmenu-push-toright {
    /*left: 450px;*/ left:85%;
}
 
.cbp-spmenu-push-toleft {
    /*left: 450px;*/ right:85%;
}
 
/* Transitions */
 
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
 
/* Example media queries */

/*@media screen and (-webkit-min-device-pixel-ratio:0) { 
 select:focus, textarea:focus, input:focus {
 font-size: 16px;
 background:#eee;
  }
 */}
 
@media screen and (max-width: 55.1875em){
 
    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }
 
    .cbp-spmenu-top {
        top: -110px;
    }
 
    .cbp-spmenu-bottom {
        bottom: -110px;
    }
 
}
 
@media screen and (max-height: 26.375em){
 
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
 
    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }
 
    .cbp-spmenu-right {
        right: -190px;
    }
 
    .cbp-spmenu-push-toright {
        left: 190px;
    }
}

#menubar p{
/*    display: block;*/  
    font-size: 1.2em; /*font-size: 6.0em;*/
    font-variant:small-caps;  
    /*color: #fff;*/
    color: #E0E0E0;
    border-bottom: 1px solid #101010;
    padding-top: .05em;
    padding-bottom: .05em;
    padding-left: .5em;
    background-color: #282828;
}

.homeButton{
    background: transparent;
    border: 0;
    width: 50px; /*width: 150px;*/
   height: 50px; /*height: 150px;*/
    margin: 0 auto;
    float: left;
}

#menubar .homeElement {
    display:block;
    /*background: #404040;*/
    background: #202020;
    width:  100%;
    height: 60px; /*height: 200px;*/
    padding-right: 5px;
    padding-left: 5px;
    border-bottom: 1px solid #101010;

}

/*CSS for topbar*/
.topbar {
    /*background: #404040;*/
    background: #202020;
    width:  100%;
    height: 60px; /*height: 200px;*/
    position: fixed;        /*makes top bar also fixed during shift right for menu bar*/
    z-index:1;
}
.topbar {
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    transition: left 0.3s ease;
}

.cbp-spmenu-push-toright .topbar {
    left: 85%;
}


.center {
    /*margin: 0 auto;
    text-align: center;
    vertical-align: middle;*/
    margin-right: auto;
    margin-left: auto;
}

.topbarElement {
    padding-top: 5px;
    padding-bottom: 5px;
}

.searchBar {
    padding-top: 8px;
    padding-bottom: 8px;
}

.menuButton {
    background: transparent;
    border: 0;
   width: 50px; /*width:150px;*/
   height: 50px; /*height:150px;*/
    float: left;
    display: block;
}

.searchButton {
    background: transparent;
    border: 0;
    width: 50px; /*width:150px;*/
    height: 50px; /*height: 150px;*/
    margin: 0 auto;
    float: right;
}

.categoriesDropdown {
    background: transparent;
    border: 0;
    /*width: 50px;*/ 
    height: 25px;
    margin: 0 auto;
 /*   float: right;*/
    /*color: #fff;*/
    color: #E0E0E0;
/*    padding-right: 5px;*/
} 

.trial {
    text-align: center;
}
.icon {
    /*color: #fff;*/
    color: #E0E0E0;
    font-size: 1.5em; /*font-size: 5.0em;*/
    /*width: 100%;
    height: 100%;*/
}

.titleText {
    padding-top: 10px;
    font-size: 1.5em; /*font-size: 5.0em;*/
    /*color: #fff;*/
    color: #E0E0E0;
}

.yardsaleText {
    color: #00B800;
    font-size: 2.0em;
    font-weight: lighter;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
/*    line-height: 2.0em;
*/}

.balance {
    padding-top: 0;
    padding-bottom: 0;
    margin:0;
    line-height: 5px;
    text-align: center;
}

.balanceText {

    font-weight: lighter;
    font-size: 1em;
    color: #E0E0E0;
    padding-bottom: .5px;
    display: inline;
}

.balanceNum {

    font-size: 1.25em;
    color: #E0E0E0;
    padding-bottom: .5px;
    display: inline;
}


/*for items*/
.picture {
    
    /*margin-left: auto;
    margin-right: auto;*/
}

.outline {
/*    border: 2px solid;
*/    /*border-color: #404040;*/
/*    border-color: #202020;
*/    border-radius: 5px;
    /*width: 500px;*/
    height: 300px;
    padding: 10px;
    /*padding-bottom: 10px;*/
    /*width: 440px;*/
    width:100%;
    position: relative;

    background-color: #FFFFFF;
/*    margin-right: auto;
    margin-left: auto;*/
}

.priceText {
    text-align: left;
}


.buyButton {
    height: 45px;
    font-size: 25px;
    padding-top: 5px;
    color: #00B800;
    /*width:35%;
    height:12%;
    text-align: center;
    font-size: 4.0em;*/
}

.pane2{
    text-align:center;
}

#sellBtn{
    /*width:45%;
    height:7%;
    text-align:center;
    font-size: 2.75em;*/
}

#loginBtn{
    /*width:45%;
    height:7%;
    text-align:center;
    font-size: 2.75em;*/

}

.belowTopbar{
    margin-top: 85px; /*sets how much space is above the start of the items to prevent them from starting under the topbar*/
}

#welcome{
    font-size:4.0em;
    text-align: center;
}

.toBottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0 auto;
}

.dots {
    text-align: center;
    line-height: 10px;
    margin: 0;
}

.dots .cur{

    padding: 0px;
    font-size: 55px;
    color: #000000;
    display:inline;
}

.dots .next{
 
    padding: 0px;
    font-size: 55px;
    color: #CCCCCC;
    display:inline;
}

.imageContainer {
    height: 210px;
/*    height: 170px;*/
    width: 100%;
}

.productImage {
    display: inline-block;
    text-align: center;
    position: relative;
}

.imageContainer .productImage img{
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
    max-height: 210px;
    max-width: 100%;
}

.infoLabel {
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
    text-align: right;
}

.infoText {
    line-height: 20px;
    text-align: left;
    font-size: 18px;
    display: inline;
}

.description {
    text-align: left;
    font-size: 1.2em;
    line-height: 1.5em;
}

.price {
    text-align: center;
    margin: 0;
    font-size: 1.2em;
}

.yardDollars {
    text-align: center;
    margin:0;
    line-height: 0px;
    font-size: 11px;
}

body {
    background-color: #FAFAFA;
}

h1{
    display: inline;
}

.loginpage {
    width:300px;
    height:200px;
    background-color:#FAFAFA;
    position:absolute;
    left:50%;
    top:50%;
    margin:-115px 0 0 -150px;
}

.createpage {
    background-color:#FAFAFA;
}


#loginBtn {
    width:100%;
    text-align: center;   

}
