.cbp-spmenu {
    /*background: #47a3da;*/
    background: #404040;
    position: fixed;
    overflow-y: scroll; 
}
 
.cbp-spmenu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
}
 
.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 0.9em;
    font-weight: 300;
    text-decoration: none;
}
 
.cbp-spmenu a:hover {
    /*background: #258ecd;*/
    background: #383838;
}
 
.cbp-spmenu a:active {
    background: #afdefa;
    /*color: #47a3da;*/
    color: #101010;
}
 
/* Orientation-dependent styles for the content of the menu */
 
.cbp-spmenu-vertical {
    /*width: 240px;*/
    width: 450px;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.cbp-spmenu-vertical h3{

}
 
.cbp-spmenu-vertical a {
    border-bottom: 1px solid #101010;
    padding: 1em;
    padding-top: 1em;
}
 
.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
   /* overflow: hidden;*/
}
 
.cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
}
 
.cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}
 
/* Vertical menu that slides from the left or right */
 
.cbp-spmenu-left {
    /*left: -240px;*/
    left: -450px;
}
 
.cbp-spmenu-right {
    right: -240px;
}
 
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}
 
.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}
 
/* Horizontal menu that slides from the top or bottom */
 
.cbp-spmenu-top {
    top: -150px;
}
 
.cbp-spmenu-bottom {
    bottom: -150px;
}
 
.cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
}
 
.cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
}
 
/* Push classes applied to the body */
 
.cbp-spmenu-push {
    /*overflow-x: hidden;*/
    position: relative;
    left: 0;
}
 
.cbp-spmenu-push-toright {
    left: 450px;
}
 
.cbp-spmenu-push-toleft {
    left: -240px;
}
 
/* Transitions */
 
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
 
/* Example media queries */
 
@media screen and (max-width: 55.1875em){
 
    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }
 
    .cbp-spmenu-top {
        top: -110px;
    }
 
    .cbp-spmenu-bottom {
        bottom: -110px;
    }
 
}
 
@media screen and (max-height: 26.375em){
 
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
 
    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }
 
    .cbp-spmenu-right {
        right: -190px;
    }
 
    .cbp-spmenu-push-toright {
        left: 190px;
    }
}

#menubar p{
/*    display: block;*/  
    font-size: 1.2em;
    font-variant:small-caps;  
    color: #fff;
    border-bottom: 1px solid #101010;
    padding-top: .05em;
    padding-bottom: .05em;
    padding-left: .5em;
    background-color: #282828;
}



.homeButton{
    background: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    float: left;
}

#menubar .homeElement {
    display:block;
    background-color: #404040;
    width:  100%;
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    border-bottom: 1px solid #101010;

}

/*CSS for topbar*/
.topbar {
    background-color: #404040;
    width:  100%;
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.center {
    /*margin: 0 auto;
    text-align: center;
    vertical-align: middle;*/
    margin-right: auto;
    margin-left: auto;
}

.menuButton {
    background: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    float: left;
    display: block;
}

.searchButton {
    background: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    float: right;
}

.icon {
    color: #fff;
    font-size: 1.5em;
    /*width: 100%;
    height: 100%;*/
}

.balanceText {
    padding-top: 10px;
    font-size: 1.5em;
    color: #fff;
}


/*for items*/
.picture {
    
    /*margin-left: auto;
    margin-right: auto;*/
}

.outline {
    border: 2px solid;
    border-color: #404040;
    border-radius: 5px;
    /*margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 500px;*/
    padding-top: 10px;
    /*padding-bottom: 10px;*/
    width: 440px;
    margin-right: auto;
    margin-left: auto;
}

.priceText {
    text-align: left;
}

.buyButton {

}


#menubar p {
    display: block;
    color: #fff;
    font-size: 1.0em;
    font-weight: 300;
    border-bottom: 1px solid #101010;
    padding: 1em;
    background-color: #282828;
}

#notification {
    /*width: 40px;
    height: 40px;*/
}

#red {
    background-color: red;
}

#notification-container {
    position: relative;
}



