.notSeen {
	background-color: #D3D3D3;
}

.badge {
	font-size: 15px;
}

.menu-badge {
	/*font-size: 80px;*/
}

.notifications {
	margin:0px;
	padding-top: 0px;
	padding-bottom: 0px;
	display:inline-block;
	border-bottom: 1px solid #202020;
}

.notifications p {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

.date {
	font-size: 10px;
	font-weight: lighter;
}

.belowTopbarNotifications {
	   margin-top: 60px; /*sets how much space is above the start of the items to prevent them from starting under the topbar*/
}