
#homeBtn {
    
   	color: #4169E1 !important;
}


/*p {
	font-size: 4.0em;
}


.form-control p {
	font-size: 2.5em;
}

h1{
	font-size: 3.5em;
}
#searchInfo{
	font-size: 6.0em;
}

input{ /*login button
	height: 50px;
	width: 30%;
}


.submissionField { 
	width: 100%; 
	height: 50px; 

}

.submissionField p {
	text-align: left;
}

.fields{
	font-size:2.0em;
}

#loginInstructions{
	font-size:2.0em;
}*/