
#homeBtn {
    
   	color: #4169E1 !important;
}


p {
	font-size: 5.0em;
}

#searchInfo{
	font-size: 6.0em;
}
/* trying to change color of placeholders


::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- 
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ 
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}*/